<div class="block block-banner">
    <div class="container-fluid">
        <a href="/t/promociones/house-of-ribs" class="block-banner__body" style="height: 475px !important;">
            <div class="block-banner__image block-banner__image--desktop" style="background-image: url('https://i.ibb.co/VJXkRVS/HOR-1200.jpg'); background-size: cover;"></div>
            <div class="block-banner__image block-banner__image--mobile" style="background-image: url('https://i.ibb.co/VJXkRVS/HOR-1200.jpg') %>'); background-size: cover;"></div>
            <div class="block-banner__title" style="display: none;">Hundreds <br class="block-banner__mobile-br"> Hand Tools</div>
            <div class="block-banner__text" style="display: none;">Hammers, Chisels, Universal Pliers, Nippers, Jigsaws, Saws</div>
            <div class="block-banner__button">
                <span class="btn btn-sm btn-primary">Shop Now</span>
            </div>
        </a>
    </div>
</div>