<div class="block block-features block-features--layout--classic">
    <div class="container-fluid">
        <div class="block-features__list">
            <div class="block-features__item" style="display: block;">
                <center>
                    <a href="https://hugoapp.com/" target="_BLANK" rel="noopener noreferrer">
                        <img style="height: 63px" data-src="https://i.ibb.co/Wfg4T1h/pua2nx3aitkblzpwvf54.png" class=" lazyloaded" src="https://i.ibb.co/Wfg4T1h/pua2nx3aitkblzpwvf54.png">
                            <noscript><img src="https://i.ibb.co/Wfg4T1h/pua2nx3aitkblzpwvf54.png" style="height: 63px">
                            </noscript>
                        
                    </a>
              
                <div class="block-features__content" style="display: none;">
                    <div class="block-features__title">Free Shipping</div>
                    <div class="block-features__subtitle">For orders from $50</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item" style="display: block;">
                   <center>
                    <a href="https://glovoapp.com/es/tgu/" target="_BLANK" rel="noopener noreferrer">
                        <img style="height: 63px" data-src="https://i.ibb.co/mDLr0Kx/glovo.jpg" class=" lazyloaded" src="https://i.ibb.co/mDLr0Kx/glovo.jpg">
                            <noscript><img src="https://i.ibb.co/mDLr0Kx/glovo.jpg" style="height: 63px">
                            </noscript>
                    </a>
          
                <div class="block-features__content" style="display: none;">
                    <div class="block-features__title">Support 24/7</div>
                    <div class="block-features__subtitle">Call us anytime</div>
                </div>
            </div>
            <div class="block-features__divider"></div>
            <div class="block-features__item" style="display: block;">
          
                    <center>
                    <a href="https://www.ubereats.com/blog/es-HN/" target="_BLANK" rel="noopener noreferrer">
                        <img style="height: 63px" data-src="https://dash.mediaupdate.co.za/story/image/147394/147394.jpg" class=" lazyloaded" src="https://dash.mediaupdate.co.za/story/image/147394/147394.jpg">
                            <noscript>
                                <img src="https://dash.mediaupdate.co.za/story/image/147394/147394.jpg" style="height: 63px">
                            </noscript>
                    </a>
        
                <div class="block-features__content" style="display: none;">
                    <div class="block-features__title">100% Safety</div>
                    <div class="block-features__subtitle">Only secure payments</div>
                </div>
            </div>
            <div class="block-features__divider"></div>

        </div>
    </div>
</div>