<div class="block block-posts" data-layout="list" data-mobile-columns="1">
    <div class="container-fluid">
        <div class="block-header">
            <h3 class="block-header__title">Latest News</h3>
            <div class="block-header__divider"></div>
            <div class="block-header__arrows-list">
                <button class="block-header__arrow block-header__arrow--left" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href=<%= asset_url("sprite.svg#arrow-rounded-left-7x11") %> ></use>
                    </svg>
                </button>
                <button class="block-header__arrow block-header__arrow--right" type="button">
                    <svg width="7px" height="11px">
                        <use xlink:href=<%= asset_url("sprite.svg#arrow-rounded-right-7x11") %> ></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="block-posts__slider">
            <div class="owl-carousel">
                <div class="post-card  ">
                    <div class="post-card__image">
                        <a href="/t/promociones/el-cumpleanero-come-gratis">
                            <img src="https://i.ibb.co/P50js52/LA-Chilis-Latin-Day2-697.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category">
                            <a href="/t/promociones/el-cumpleanero-come-gratis">El cumpleañero come gratis</a>
                        </div>
                        <div class="post-card__name">
                            <a href="/t/promociones/el-cumpleanero-come-gratis">El cumpleañero come gratis</a>
                        </div>
                        <div class="post-card__date">October 19, 2019</div>
                        <div class="post-card__content">
                            ¡VEN A CELEBRAR EN TU CUMPLEAÑOS CON NOSOTROS Y DISFRUTA DE NUESTRO MENÚ PARA CUMPLEAÑEROS!...
                        </div>
                        <div class="post-card__read-more">
                            <a href="/t/promociones/el-cumpleanero-come-gratis" class="btn btn-secondary btn-sm">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="post-card  ">
                    <div class="post-card__image">
                        <a href="/t/menu">
                            <img src="https://i.ibb.co/ZSM2x5J/ced408c6-ecbe-4006-a5db-9576d7686f02.jpg" alt="">
                        </a>
                    </div>
                    <div class="post-card__info">
                        <div class="post-card__category">
                            <a href="/t/menu">PIDE LO QUE QUIERAS
</a>
                        </div>
                        <div class="post-card__name">
                            <a href="/t/menu">PIDE LO QUE QUIERAS
</a>
                        </div>
                        <div class="post-card__date">September 5, 2019</div>
                        <div class="post-card__content">
                            ¡ORDENA TUS PLATILLOS FAVORITOS Y TE LOS LLEVAMOS DONDE ESTÉS CON HUGO Y GLOVO!

                        </div>
                        <div class="post-card__read-more">
                            <a href="/t/menu" class="btn btn-secondary btn-sm">Read More</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>