<div class="site-footer__bottom">
    <div class="site-footer__copyright">
      © <%= Time.current.year %>
      <%= link_to current_store.name, "https://#{current_store.url}" %>.
      <%= Spree.t(:all_rights_reserved) %>.
    </div>
    <div class="site-footer__payments">
        <img src=<%= asset_url('payments.png') %>  alt="">
    </div>
</div>