<!-- mobile site__header -->

<!-- mobile site__header / end -->
<!-- desktop site__header -->
<header class="site__header d-lg-block d-none">
    <div class="site-header">
        <!-- .topbar -->
        <%  render partial: 'spree/shared/topbar' %>
        <!-- .topbar / end -->
        <% if  @@header_layout== 'default' %>
        <div class="site-header__middle container">
            <div class="site-header__logo">
                <% path = spree.respond_to?(:root_path) ? spree.root_path : main_app.root_path%>
                <%=link_to path, 'aria-label': current_store.name, class: 'logo' do
                            image_tag(Spree::Config[:logo], width: '160', height: '60', class: 'logo')
                    end
                %>
            </div>
            <div class="site-header__search">
                <div class="search search--location--header ">
                    <div class="search__body">
                        <%= render partial: 'spree/shared/search' %>
                        <div class="search__suggestions suggestions suggestions--location--header"></div>
                    </div>
                </div>
            </div>
            <div class="site-header__phone">
                <div class="site-header__phone-title">Customer Service</div>
                <div class="site-header__phone-number">(800) 060-0730</div>
            </div>
        </div>
        <% end %>
        <%= render partial: 'spree/shared/main_nav_bar' %>
    </div>
</header>
<!-- desktop site__header / end -->